@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

:root {
    --primary: #751133;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.b-primary{
  border: 1px solid var(--primary);
}

html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        background: black;

        #loading{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 50;
            display: flex;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;

            img{
                max-width: 300px;
                width:60%;
            }
            .lds-ellipsis {
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;
              }
              .lds-ellipsis div {
                position: absolute;
                top: 33px;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background: var(--primary);
                animation-timing-function: cubic-bezier(0, 1, 1, 0);
              }
              .lds-ellipsis div:nth-child(1) {
                left: 8px;
                animation: lds-ellipsis1 0.6s infinite;
              }
              .lds-ellipsis div:nth-child(2) {
                left: 8px;
                animation: lds-ellipsis2 0.6s infinite;
              }
              .lds-ellipsis div:nth-child(3) {
                left: 32px;
                animation: lds-ellipsis2 0.6s infinite;
              }
              .lds-ellipsis div:nth-child(4) {
                left: 56px;
                animation: lds-ellipsis3 0.6s infinite;
              }
              @keyframes lds-ellipsis1 {
                0% {
                  transform: scale(0);
                }
                100% {
                  transform: scale(1);
                }
              }
              @keyframes lds-ellipsis3 {
                0% {
                  transform: scale(1);
                }
                100% {
                  transform: scale(0);
                }
              }
              @keyframes lds-ellipsis2 {
                0% {
                  transform: translate(0, 0);
                }
                100% {
                  transform: translate(24px, 0);
                }
              }
        }

        .categoryBox{
          height: 160px;
          margin: auto;
          position:relative;

          &:before{
            content:"";
            position:absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.4);
            z-index: 10;
          }

          a{
            width: 100%;
            height: 160px;
            img{
              display: block;
    width: 100%;
    height: 160px;
    object-fit: cover;
            }
            span{
              color: #fff;
              position: absolute;
              z-index: 11;
              top: 50%;
              text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
            }
          }
        }
        .imageBanner{
          height: 270px;

          img{
            display: block;
    width: 100%;
    height: 270px;
    object-fit: cover;

          }
        }

        .cardDish{

          .card-body{
            position: relative;
            max-height: 150px;

            img{
              display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
            }

            .badge{
              position: absolute;
              top:10px;
              left:10px;
              background: var(--primary);
              color: #fff;
            }
          }
          .card-footer{
            
          }
        }

        .floatingmenu_label {
          width: 150px;
          text-align: right;
          padding-right: 10px;
          position: absolute;
          left: -160px;
          color: #fff;
          white-space: nowrap;
        }
        
        #btnExit.show {
          -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
        }
        
        #btnUsers.show {
          -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
        }
        
        #btnJobs.show {
          -webkit-transform: translateY(-375%);
          transform: translateY(-375%);
        }
        
        #btnReports.show {
          -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
        }
        
        #btnFilters.show {
          -webkit-transform: translateY(-625%);
          transform: translateY(-625%);
        }
        
        #hamburger {
          z-index: 30;
          position: fixed;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          bottom: 4%;
          right: 4%;
          background-color: var(--primary);
          width: 56px;
          height: 56px;
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.3);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        
        #hamburger .icon-bar {
          display: block;
          background-color: #FFFFFF;
          width: 22px;
          height: 2px;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        
        #hamburger .icon-bar+.icon-bar {
          margin-top: 4px;
        }
        
        .hamburger-nav {
          z-index: 28;
          position: fixed;
          bottom: 5%;
          right: 5%;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: var(--primary);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          visibilty: hidden;
          opacity: 0;
          box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.48);
          cursor: pointer;
          -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }
        
        #hamburger.show {
          box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.48);
        }
        
        #hamburger.show #wrapper {
          -webkit-transition: -webkit-transform 0.4s ease-in-out;
          transition: -webkit-transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
          -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
        }
        
        #hamburger.show #one {
          -webkit-transform: translateY(6px) rotateZ(45deg) scaleX(0.9);
          transform: translateY(6px) rotateZ(45deg) scaleX(0.9);
        }
        
        #hamburger.show #two {
          opacity: 0;
        }
        
        #hamburger.show #thr {
          -webkit-transform: translateY(-6px) rotateZ(-45deg) scaleX(0.9);
          transform: translateY(-6px) rotateZ(-45deg) scaleX(0.9);
        }
        
        .hamburger-nav.show {
          visibility: visible;
          opacity: 1;
          color: #fff;
        }
    }
}
