.cardDish .card-image {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cardDish .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
}

.image {
  width: 150px;
  height: 150px;
  position: relative;
}
.image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}
.image .deleteBtn {
  position: absolute;
  top: -10px;
  right: -10px;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #751133;
  background-color: transparent;
  border-color: transparent transparent #751133;
  border-bottom: 4px solid !important;
  font-size: 18px;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #eee;
  font-size: 18px;
}
